*{ 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    outline: none;
}
body {
    background-color: rgba(0, 0, 0, 0.83);
    display: flex;
    align-items: center;
    flex-direction: column; 
    height: 100vh;                                                                            
}
main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.top-img{
    width: 110px;
    margin-top: 40px;
    margin-bottom: 20px;
}
.seta{
    width: 25px;
}
container{ 
    display: flex;
    flex-direction: column;
    background: linear-gradient(380deg, rgb(93, 190, 235) 14%, rgb(84, 82, 182) 56%, rgb(42, 210, 132) 91%);
    border-radius: 20px;
    padding: 10px 20px;
    gap: 10px;
}
select ,.input-currency{
    display: flex;
    text-align: center;
    min-width: 327px;
    height: 48px;
    border-radius: 4px;
    border: 2px solid #151515;
    appearance: none;
    background-color: #d1d1d1;
    font-weight: 700;
    font-size: 16px;
    color: #7811ff;
    
}
button{
    width: 325px;
    height: 48px;
    margin-top: 5px;
    border-radius: 10px;
    background-color: #772FD3;
    font-size: 18px;
    font-weight: 700;
    color: #FFFFFF;
    cursor:pointer
}
button:hover {
    opacity: 0.5;
}
button:active {
    opacity: 0.3;
}
section{
    border: 3px solid #772FD3;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 0 20px;;
}
.currency-value ,.to-convert-currency-value,.currency,.currency-name{
    color:#272727;
    font-weight: 700;
    font-size: 20px;
    text-align: center;
}
b{
    color: black;
    font-size: larger;
    
}
h1{
    display: flex;
    color: #FFFFFF;
    font-size: 30px;
    font-weight: 700;  
    height: 70px;
    align-items: center;
    justify-content: center;
}
div{
    display: flex;
    justify-items: center;
    align-items: center;
    gap: 10px;
    margin: 20px 0 10px;
}
